<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p><label for="name">Name</label><br/>
<input type="text" th:field="*{name}" class="form-control mb-4 col-4"/></p>

<p><label for="price">Price</label><br/>
<input type="text" th:field="*{price}" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<p><label for="inv">Inventory</label><br/>
<input type="text" th:field="*{inv}" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

<p><label for="minInv">Min Inventory</label><br/>
<input type="text" th:field="*{minInv}" class="form-control mb-4 col-4"/></p>

<p><label for="maxInv">Max Inventory</label><br/>
<input type="text" th:field="*{maxInv}" class="form-control mb-4 col-4"/></p>

<p><label for="companyName">Company Name</label><br/>
<input type="text" th:field="*{companyName}" class="form-control mb-4 col-4"/></p>

<p><label for="categoryId">Category</label><br/>
<select name="categoryId" id="categoryId" class="form-control mb-4 col-4">
    <option value="">-- Select Category --</option>
    <option th:each="cat : ${categories}"
            th:value="${cat.id}"
            th:text="${cat.name}"
            th:selected="${outsourcedpart.category != null and outsourcedpart.category.id == cat.id}">
    </option>
</select></p>

    <div th:if="${#fields.hasAnyErrors()}">
    <ul class="text-danger">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
    </ul>
</div>

<p><input type="submit" value="Submit" /></p>
</form>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>